<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Asignatura</th>
                <th scope="col">Siglas</th>
                <th scope="col">Profesor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asignatura of asignaturas; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    {{ asignatura.nombre }}
                </td>
                <td>
                    {{ asignatura.siglas}}
                </td>
                <td>
                    {{ asignatura.profesor}}

                </td>
            </tr>
        </tbody>
    </table>
</div>